/* /App.razor.rz.scp.css */
.container[b-iive7j7chg] {
  padding: 0 2rem;
}

.main[b-iive7j7chg] {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  justify-content: space-between;
  background-image: url("../assets/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container[b-iive7j7chg] {
  padding: 0;
  margin: 0;
}

.left[b-iive7j7chg] {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.atas[b-iive7j7chg] {
  padding-left: 350px;
}

.logo[b-iive7j7chg] {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0;
  text-align: left;
  user-select: none;
}

.title[b-iive7j7chg] {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  color: white;
  font-weight: 500;
  font-size: 40px;
}

.subtitle[b-iive7j7chg] {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
}

.mascot[b-iive7j7chg] {
  width: 550px;
  user-select: none;
}

.right[b-iive7j7chg] {
  width: 50%;
  display: flex;
}

.docsEx[b-iive7j7chg] {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boxRight[b-iive7j7chg] {
  z-index: 99;
  width: 450px;
  border: 2px solid #654CE1;
  border-radius: 5px;
  padding: 15px 25px;
  margin: 10px 0;
  margin-left: 100px;
}

.boxRight:hover[b-iive7j7chg] {
  border-color: #444;
}

.boxTitle[b-iive7j7chg] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.docs[b-iive7j7chg] {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #444444;
  margin: 0;
  padding: 7px 0;
}

.arrow[b-iive7j7chg] {
  height: 20px;
  width: 20px;
  user-select: none;
}

.ex[b-iive7j7chg] {
  margin: 0;
  color: #707070;
  font-size: 21px;
  padding: 7px 0;
  font-weight: 400;
}

@media (max-width: 1400px) {
  .grid[b-iive7j7chg] {
    width: 100%;
    flex-direction: column;
  }

  .atas[b-iive7j7chg] {
    padding-left: 275px;
  }

  .logo[b-iive7j7chg] {
    width: 100px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 0;
    text-align: left;
  }

  .title[b-iive7j7chg] {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    color: white;
    font-weight: 500;
    font-size: 30px;
  }

  .subtitle[b-iive7j7chg] {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 12.5px;
  }

  .mascot[b-iive7j7chg] {
    width: 475px;
  }

  .boxRight[b-iive7j7chg] {
    width: 325px;
    border: 2px solid #654CE1;
    background: #fff;
    margin-left: 150px;
  }

  .docs[b-iive7j7chg] {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #444444;
    margin: 0;
    padding: 7px 0;
  }

  .ex[b-iive7j7chg] {
    margin: 0;
    color: #707070;
    font-size: 15px;
    padding: 7px 0;
    font-weight: 400;
  }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-gq29ui6fte] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-gq29ui6fte] {
    flex: 1;
}

.sidebar[b-gq29ui6fte] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-gq29ui6fte] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-gq29ui6fte]  a, .top-row[b-gq29ui6fte]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-gq29ui6fte]  a:hover, .top-row[b-gq29ui6fte]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-gq29ui6fte]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-gq29ui6fte] {
        display: none;
    }

    .top-row.auth[b-gq29ui6fte] {
        justify-content: space-between;
    }

    .top-row[b-gq29ui6fte]  a, .top-row[b-gq29ui6fte]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-gq29ui6fte] {
        flex-direction: row;
    }

    .sidebar[b-gq29ui6fte] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-gq29ui6fte] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-gq29ui6fte]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-gq29ui6fte], article[b-gq29ui6fte] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-w60tn45g7v] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-w60tn45g7v] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-w60tn45g7v] {
    font-size: 1.1rem;
}

.oi[b-w60tn45g7v] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-w60tn45g7v] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-w60tn45g7v] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-w60tn45g7v] {
        padding-bottom: 1rem;
    }

    .nav-item[b-w60tn45g7v]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-w60tn45g7v]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-w60tn45g7v]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-w60tn45g7v] {
        display: none;
    }

    .collapse[b-w60tn45g7v] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-w60tn45g7v] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
